<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User List</h1>
    <table border="1">
        <tr>
            <th>User</th>
            <th>name</th>
            <th>age</th>
        </tr>
        <tr></tr>
    </table>
    <a href="{% url 'user_create' %}"><button>User Create</button></a>
    <a href="{% url 'user_update' %}"><button>User Update</button></a>
</body>
</html>