{% load static %}

<div class="container-fluid">
    <div class="row mt-1">
      <div class="col-md-12">
        <nav
          class="navbar navbar-expand-lg"
          data-bs-theme="dark"
          style="background-color: #3d9ad0"
        >
          <div class="container-fluid">
            <a class="navbar-brand" href="index.html"
              ><strong>Ekart</strong></a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="index.html"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About</a>
                </li>
                <!-- <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                        </li> -->
                <!-- <li class="nav-item">
                          <a class="nav-link " aria-disabled="true">Disabled</a>
                        </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cart">Cart</a>
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="/accounts/login">Login</a>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="register.html">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="logout.html">Logout</a>
                </li>
              </ul>
              {% if user.is_authenticated %}
                        <div class="d-flex text-white ms-3 mx-2">
                            Welcome, {{user.username}}!
                        </div>
              {% endif %}
              {% if user.is_authenticated %}
              <div class="d-flex ms-3 mx-2">
                <a class="text-white" style="text-decoration: none;" href="/accounts/logout"><i class="bi bi-box-arrow-in-left"></i></i></a>
                        </div>
              </div>
              {% endif %}
              <form class="d-flex" role="search">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-outline-success" type="submit">
                  Search
                </button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>