
                        <td><a href="/removeitem/{{x.id}}" class="href"><button class="btn btn-danger"> Remove Item</button></a></td>
                    </tr>

                </table>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-3">
        <h5 class="bg-primary text-white p-2">Order Total</h5>
        <table class="table table-borderless">
            <tr>
                <th>Order Total</th>
                <td>{{n}}</td>
            </tr>
            <tr>
                <th>Total Amount</th>
                <td>Rs.{{amt}}</td>
            </tr>
            <tr>
                <td><a href="/porder"><button class="btn btn-success">Place Order</button></a></td>
            </tr>

        </table>
    </div>
</div>


{% endblock 'main' %}
