<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ekart|Contact</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="assests/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assests/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row mt-1">
        <div class="col-md-12">
          <nav
            class="navbar navbar-expand-lg"
            data-bs-theme="dark"
            style="background-color: #3d9ad0"
          >
            <div class="container-fluid">
              <a class="navbar-brand" href="index.html"
                ><strong>Ekart</strong></a
              >
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      aria-current="page"
                      href="index.html"
                      >Home</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                  </li>
                  <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Dropdown
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </li> -->
                  <!-- <li class="nav-item">
                            <a class="nav-link " aria-disabled="true">Disabled</a>
                          </li> -->
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="cart.html">Cart</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="login.html">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="register.html">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="logout.html">Logout</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                  />
                  <button class="btn btn-outline-success" type="submit">
                    Search
                  </button>
                </form>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <!--main section start-->
      <div class="row mt-5">
        <div class="col-md-12">
          <!--go to google maps, get location of it vedant, then go to side bar with 3 lines, then share or embed map, embed a map and then copy the html code-->
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.1730600984056!2d72.97165280950273!3d19.187642148385795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b8d834c00235%3A0x89ff617b4a6cbf6f!2sItvedant%20Education%20Pvt.%20Ltd!5e0!3m2!1sen!2sin!4v1696932102175!5m2!1sen!2sin"
            width="100%"
            height="300px"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <div class="col-md-6 mt-3">
          <!--Experiment-->
          <!-- <div class="row">
            <div class="col md-6">
              <h3>
                <i class="bi bi-building-fill text-danger"></i>
              </h3>
              <h5>Corporate Office</h5>
              <hr>
              <h6>Ekart Pvt Ltd</h6>
              <p>Ishan Arcade 1, 2nd floor, Thane west</p>
            </div>
            <div class="col md-6">
              <p><i class="bi bi-envelope-at-fill text-success"></i> : ekart@gmail.com</p>
              <p><i class="bi bi-telephone-forward text-success"></i> : +91 9898989898</p>
            </div>
          </div> -->
          <!--Experiment Ends-->
          <h3>
            <i class="bi bi-building-fill text-danger"></i>
          </h3>
          <h5>Corporate Office</h5>
          <hr>
          <h6>Ekart Pvt Ltd</h6>
          <p>Ishan Arcade 1, 2nd floor, Thane west</p>
          <p><i class="bi bi-envelope-at-fill text-success"></i> : ekart@gmail.com</p>
          <p><i class="bi bi-telephone-forward text-success"></i> : +91 9898989898</p>
        </div>
        
        <div class="col-md-6 mt-3">
          <h5 style="margin-top: 42px;">
            Contact Form
          </h5>
          <hr>
          <form action="" method="POST">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"><strong>Name:</strong></label>
              <input name="cname" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter name">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"><strong>Phone Number:</strong></label>
              <input name="cmob" type="number" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"><strong>Email Address:</strong></label>
              <input name="cemail" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
              <label for="Textarea1" class="form-label"><strong>Feedback:</strong></label>
              <textarea class="form-control" name="cfeedback" id="Textarea1" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <button class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <!--Map ends-->

      <!--main section end-->
      <div class="row mt-5">
        <div class="col-md-4">
          <h5>Address</h5>
          <hr />
          <p>Ekart Pvt Ltd</p>
          <p>Ishan Arcade 1, 2nd floor, Thane west</p>
          <p>Email ID: ekart@gmail.com</p>
          <p>Call : +91 9898989898</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <hr />
          <ul type="none">
            <li><a href="home.html" class="anchor">Home</a></li>
            <li><a href="about.html" class="anchor">About Us</a></li>
            <li><a href="cart.html" class="anchor">Cart</a></li>
            <li><a href="contact.html" class="anchor">Contact</a></li>

            <!-- <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="contact.html">Contact</a></li> -->
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Connect with Us</h5>
          <hr />
          <a href="https://twitter.com/"><i class="bi bi-twitter-x"></i></a>
          &nbsp; &nbsp; &nbsp;
          <a href="https://www.instagram.com/"
            ><i class="bi bi-instagram"></i
          ></a>
          &nbsp; &nbsp; &nbsp;
          <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
          &nbsp; &nbsp; &nbsp;
          <a href="https://in.linkedin.com/"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->
    <script src="assests/js/popper.min.js"></script>
    <script src="assests/js/bootstrap.min.js"></script>
  </body>
</html>
